extends layout

block content
  p
    h1 Here are your Entries:
  p
    h3 First Name:
    |  #{entries[0]}
  p
    h3 Last Name:
    |  #{entries[1]}

  p
    h3 Age:
    |  #{entries[2]}
  p
    h3 Gender:
    |  #{entries[3]}

  a(href='/form') Type in new entry
