extends layout

block content
  span(class="centeringForm")
    h1 Welcome to the Scalebar Reciever
    p Start the process of recieving a custom vector map here: 
      br
      br
      br
      a(class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect", href='/form') Request Map
