extends layout

block content
  span(class="centeringForm")
    h1= title
    p Welcome to #{title}
    p Check out the hotel entry: 
      br
      br
      br
      a(class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect", href='/form') Form
